.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-bar>* {
    margin-bottom: 0 !important;
}

.popup {
    background-color: #1BD0D0 !important;
    border-radius: 5px !important;
}

.popup .popup-head .popup-title,
.popup .popup-body {
    color: #fff !important;
}

.popup .popup-buttons button {
    border-radius: 5px !important;
}

ion-view,
ion-side-menu {
    background-image: url(/images/background.jpg) !important;
    background-size: cover !important;
}

ion-header-bar {
    background: rgba(255, 255, 255, 0.4) !important;
    height: 60px !important;
}

ion-header-bar .title {
    color: #fff !important;
    font-size: 28px !important;
    height: 60px !important;
    line-height: 60px !important;
}

.button-stable {
    background-color: #1BD0D0 !important;
    color: #fff !important;
}

.has-header {
    top: 60px !important;
}

.side-menu-wrapper {
    background: rgba(255, 255, 255, 0.4) !important;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

[nav-bar-transition=ios] [nav-bar=entering] .bar,
[nav-bar-transition=ios] [nav-bar=active] .bar {
    background: 0 0 !important;
}

button.button-icon:before {
    color: #ffc900 !important;
    font-weight: bold;
}

.loading-container .loading {
    background-color: rgba(255, 255, 255, 0.8) !important;
}