.nav-list {
    ul {
        margin-top: 44px;
        li {
            cursor: pointer;
            color: #fff;
            position: relative;
            padding: 10px 5px 10px 40px;
            background-color: #1BD0D0 !important;
            margin-bottom: 5px;
            font-size: 22px;
            span {
                color: #ffc900 !important;
            }
        }
    }
    .nav-button {
        position: absolute;
        top: 6px;
        right: 12px;
        font-size: 35px;
        color: #ffc900 !important;
    }
}