$background_primary_color: #4b393f;
$background_primary_opacity: rgba(75, 57, 63, 0.8);
$background_secondary_color: #fff;
$color_primary: #009999;
$color_primary_opacity: rgba(0, 153, 153, 0.8);
$color_secondary: #fff;
$border_color: #6f6961;
$cold_color: #009999; 
$warm_color: #f9c547;
$hot_color: #f16768;